/*RESET DOCUMENT*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/*VARIABLES*/
:root{
    --pal-purple: rgb(43, 45, 66);
    --pal-cian: rgb(141, 153, 174);
    --pal-white: rgb(237, 242, 244);
    --pal-l-red: rgb(239, 35, 60);
    --pal-red: rgb(217, 4, 41);
}

/*BODY*/
body{
    background-color: var(--pal-purple) !important;
    color: var(--pal-white) !important;
    font-weight: 500 !important;
}

/*GENERAL CLASSES*/
.subheading{
    color: var(--pal-white);
    border-bottom: 2px solid var(--pal-cian);
    padding: 10px;
}

.error{
    text-align: center;
    color: var(--pal-red);
    font-weight: 600;
}

.important{
    font-size: 22px;
    font-weight: 600;
    color: var(--pal-white);
}

.my-container{
    width: 100%;
    margin: 0 auto;
}

/*HEADER*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
}

#header-navbar-content{
    display: flex;
    gap: 100px;
    padding: 0;
}

.header-navbar-link{
    font-size: 22px;
    text-decoration: none;
    color: var(--pal-white);
    transition: 0.2s all;
}

.header-navbar-link:hover{
    color: var(--pal-cian);
}

#header-title{
    color: var(--pal-white);
}

